@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 77% 88%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 201 100% 36%;
    --primary-foreground: 239 94% 19%;
    --secondary: 189 75% 75%;
    --secondary-foreground: 190 100% 42%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --success: 161 94% 30%;
    --success-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 213 27% 84%;
    --input: 214.3 20% 65%;
    --ring: 197 89% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 100%;
    --primary: 198 100% 39%;
    --primary-foreground: 210 40% 98%;
    --secondary: 199 76% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --success: 161 94% 30%;
    --success-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 217.2 32.6% 17.5%;
    --input: 215 19% 35%;
    --ring: 197 89% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-muted rounded-lg;
  }

  html {
    overflow-x: hidden !important;
    scrollbar-gutter: stable;
    width: 100%;
  }

  body,
  #root {
    @apply bg-background text-foreground leading-normal overflow-x-hidden min-h-screen flex flex-col !min-w-full;
    -webkit-font-smoothing: antialiased;
  }

  p {
    @apply text-text-1;
  }

  h1,
  .h1 {
    @apply text-4xl font-bold;
  }

  h2,
  .h2 {
    @apply text-3xl font-bold;
  }

  h3,
  .h3 {
    @apply text-[20px] font-semibold;
  }

  h4,
  .h4 {
    @apply text-lg font-semibold;
  }

  h5,
  .h5 {
    @apply text-base font-semibold;
  }

  h6,
  .h6 {
    @apply text-base font-semibold;
  }

  hr {
    @apply border-muted;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  input[data-autocompleted] {
    background-color: transparent !important;
  }

  /* .loader {
    width: 120px;
    height: 120px;
    border: 11px dotted;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
    @apply border-foreground;
  } */

  /* .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 8px dotted;
    border-style: solid solid dotted;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
    @apply border-primary;
  } */

  /* @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  } */

  /* @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  } */
  .loader {
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: hsl(var(--secondary));
    box-shadow: 0 0 0 0 hsl(var(--primary));
    animation: l1 1s infinite;
  }

  @keyframes l1 {
    100% {
      box-shadow: 0 0 0 30px hsl(var(--secondary));
    }
  }

  /* Overlay to darken background image */
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent dark overlay */
    z-index: -1;
  }

  /* Text shadow to improve readability */
  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  }
}

.colored-text {
  @apply bg-gradient-to-r from-orange-700 via-blue-500 to-green-400 text-transparent bg-clip-text animate-gradient bg-300%;
}

.bg-pattern {
  background-color: #3175c6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23d0c2e6' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.home-img {
  background: url("/bg.jpg")
    no-repeat;
}
